doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Cameron K. Brooks

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Header ------------------------------------------------
            header.py-5
                .container.px-5
                    .row.justify-content-center
                        .col-lg-8.col-xxl-6
                            .text-center.my-5
                                h1.fw-bolder.mb-3 My mission is to make building and sharing technology easy, accessible, and sustainable.
                                p.lead.fw-normal.text-muted.mb-4 I strongly advocate for the principles of open-source, the maker movement, and the right-to-repair, all of which center around empowering users to have control over and a deep understanding of the technology they rely on.
                                a.btn.btn-primary.btn-lg(href='#scroll-target') Read our story

            // About section one ------------------------------------------------
            section.py-5.bg-light#scroll-target
                .container.px-5.my-5

                    .row.gx-5.align-items-center
                        .col-lg-6
                            img.img-fluid.rounded.mb-5.mb-lg-0(src='https://dummyimage.com/600x400/343a40/6c757d', alt='...')
                        .col-lg-6
                            h2.fw-bolder Background &amp; Experience
                            p.lead.fw-normal.text-muted.mb-0 For a more in-depth view of my background and experience, check out my resume (link), curriculum vitae (link), career narrative (link), and key milestones and accomplishments (link).

            // About section two ------------------------------------------------
            section.py-5
                .container.px-5.my-5

                    .row.gx-5.align-items-center
                        .col-lg-6.order-first.order-lg-last
                            img.img-fluid.rounded.mb-5.mb-lg-0(src='https://dummyimage.com/600x400/343a40/6c757d', alt='...')
                        .col-lg-6
                            h2.fw-bolder Life in pictures
                            p.lead.fw-normal.text-muted.mb-0 Explore my favorite moments and journey through a collection of captures and memories.


            // Profiles section ------------------------------------------------
            section.py-5.bg-light
                .container.px-5.my-5
                    .text-center
                        h2.fw-bolder My Profiles
                        p.lead.fw-normal.text-muted.mb-5 Dedicated to quality and your success
                    .row.gx-5.row-cols-1.row-cols-sm-2.row-cols-xl-4.justify-content-center
                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/ced4da/6c757d', alt='Profile Image for GitHub')
                                h5.fw-bolder GitHub
                                .fst-italic.text-muted cameronbrooks11
                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/d6d8db/6c757d', alt='Profile Image for GitLab')
                                h5.fw-bolder GitLab
                                .fst-italic.text-muted cameronkbrooks
                        .col.mb-5.mb-5.mb-sm-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/adb5bd/6c757d', alt='Profile Image for OSF')
                                h5.fw-bolder OSF
                                .fst-italic.text-muted /wcre4
                        .col.mb-5
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/999/fff', alt='Profile Image for Appropedia')
                                h5.fw-bolder Appropedia
                                .fst-italic.text-muted CameronBrooks11

                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/777/fff', alt='Profile Image for LinkedIn')
                                h5.fw-bolder LinkedIn
                                .fst-italic.text-muted cameronbrooks
                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/666/fff', alt='Profile Image for Twitter')
                                h5.fw-bolder Twitter
                                .fst-italic.text-muted @cameronbrooks
                        .col.mb-5.mb-5.mb-sm-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/555/fff', alt='Profile Image for Medium')
                                h5.fw-bolder Medium
                                .fst-italic.text-muted cameron-brooks
                        .col.mb-5
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/444/fff', alt='Profile Image for ResearchGate')
                                h5.fw-bolder ResearchGate
                                .fst-italic.text-muted Cameron B. Brooks
                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/333/fff', alt='Profile Image for Stack Overflow')
                                h5.fw-bolder Stack Overflow
                                .fst-italic.text-muted @CameronBrooks

                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/222/fff', alt='Profile Image for Behance')
                                h5.fw-bolder Behance
                                .fst-italic.text-muted cameronbrooks.design

                        .col.mb-5.mb-5.mb-sm-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/111/fff', alt='Profile Image for Dribbble')
                                h5.fw-bolder Dribbble
                                .fst-italic.text-muted @CameronBrooksDesign

                        .col.mb-5
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/000/fff', alt='Profile Image for CodePen')
                                h5.fw-bolder CodePen
                                .fst-italic.text-muted @cameronbrooks

                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/f8f9fa/343a40', alt='Profile Image for Spotify')
                                h5.fw-bolder Spotify
                                .fst-italic.text-muted CameronBrooksMusic

                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/e9ecef/343a40', alt='Profile Image for Pinterest')
                                h5.fw-bolder Pinterest
                                .fst-italic.text-muted cameron_brooks_pins

                        .col.mb-5.mb-5.mb-sm-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/dee2e6/343a40', alt='Profile Image for Instagram')
                                h5.fw-bolder Instagram
                                .fst-italic.text-muted @cameronbrooksphotography

                        .col.mb-5
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/cfd3d7/343a40', alt='Profile Image for Facebook')
                                h5.fw-bolder Facebook
                                .fst-italic.text-muted Cameron Brooks

                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/bdbdbd/343a40', alt='Profile Image for LinkedIn')
                                h5.fw-bolder HuggingFace
                                .fst-italic.text-muted cameron-brooks

                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/acacac/343a40', alt='Profile Image for Twitter')
                                h5.fw-bolder Twitter
                                .fst-italic.text-muted @cameron_brooks

                        .col.mb-5.mb-5.mb-sm-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/9c9c9c/343a40', alt='Profile Image for YouTube')
                                h5.fw-bolder YouTube
                                .fst-italic.text-muted CameronBrooksChannel

                        .col.mb-5
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/8c8c8c/343a40', alt='Profile Image for Twitch')
                                h5.fw-bolder Twitch
                                .fst-italic.text-muted @CameronGaming

                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/7b7b7b/343a40', alt='Profile Image for Google Scholar')
                                h5.fw-bolder Google Scholar
                                .fst-italic.text-muted Cameron Brooks

                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/6a6a6a/343a40', alt='Profile Image for Thingiverse')
                                h5.fw-bolder Thingiverse
                                .fst-italic.text-muted cameron3Dprints

                        .col.mb-5.mb-5.mb-sm-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/595959/343a40', alt='Profile Image for Printables')
                                h5.fw-bolder Printables
                                .fst-italic.text-muted @CameronDesigns

                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/484848/343a40', alt='Profile Image for Academia.edu')
                                h5.fw-bolder Academia.edu
                                .fst-italic.text-muted CameronBrooksAcademic

                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/373737/343a40', alt='Profile Image for ResearcherID')
                                h5.fw-bolder ResearcherID
                                .fst-italic.text-muted CameronBrooksResearcher

                        .col.mb-5.mb-5.mb-sm-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/262626/343a40', alt='Profile Image for ORCID')
                                h5.fw-bolder ORCID
                                .fst-italic.text-muted 0000-0002-1234-5678

                        .col.mb-5
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/151515/343a40', alt='Profile Image for Mendeley')
                                h5.fw-bolder Zotero
                                .fst-italic.text-muted CameronBrooksResearch

                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/050505/343a40', alt='Profile Image for Scopus Author ID')
                                h5.fw-bolder Scopus Author ID
                                .fst-italic.text-muted CameronBrooksScopus


        // Footer
        include includes/footer.pug

        include includes/scripts.pug
