doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Cameron K. Brooks

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Header
            header.bg-dark.py-5
                .container.px-5
                    .row.gx-5.align-items-center.justify-content-center
                        .col-lg-8.col-xl-7.col-xxl-6
                            .my-5.text-center.text-xl-start
                                h1.display-5.fw-bolder.text-white.mb-2 Sharing My Journey, Experiences, and Adventures
                                p.lead.fw-normal.text-white-50.mb-4 This is a virtual collection of my developments, innovations, ideas, thoughts, opinions, accomplishments, research projects, engineering solutions, contributions, and favourite moments. 
                                .d-grid.gap-3.d-sm-flex.justify-content-sm-center.justify-content-xl-start
                                    a.btn.btn-primary.btn-lg.px-4.me-sm-3(href='#features') Learn More
                                    a.btn.btn-outline-light.btn-lg.px-4(href='http://nexus.cameronbrooks.net/') Knowledge Graph
                        .col-xl-5.col-xxl-6.d-none.d-xl-block.text-center
                            img.img-fluid.rounded-3.my-5(src='assets/recurtreescad_force_points.PNG', alt='...')

            // Features section ------------------------------------------------
            section#features.py-5
                .container.px-5.my-5
                    .row.gx-5
                        .col-lg-4.mb-5.mb-lg-0
                            h2.fw-bolder.mb-0 Learn more about some of the things I'm building.
                        .col-lg-8
                            .row.gx-5.row-cols-1.row-cols-md-2
                                .col.mb-5.h-100
                                    .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                                        i.bi.bi-collection
                                    h2.h5 Portfolio Gallery
                                    p.mb-0
                                        | Browse through a gallery-style portfolio of all my works.
                                .col.mb-5.h-100
                                    .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                                        i.bi.bi-building
                                    h2.h5 Business Ventures
                                    p.mb-0
                                        | Work-in-progress. Coming soon!

                                .col.h-100
                                    .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                                        i.bi.bi-toggles2
                                    h2.h5 External Contributions
                                    p.mb-0
                                        | Explore my engagements and contributions beyond this site, from wikis to open-source to community-driven content.

            // Adjusted Carousel Display -----------------------------------------------
            .py-5.bg-light
                .container.px-5.my-5  
                    .row.gx-5.justify-content-center
                        .col-12
                            .carousel.slide#carouselExampleIndicators(data-bs-ride='carousel') 
                                .carousel-inner
                                    // Example Project 1 - Active item
                                    .carousel-item.active
                                        img.d-block.w-100(src='https://dummyimage.com/800x350/ced4da/6c757d', alt='Project 1')
                                        .carousel-caption.d-none.d-md-block.bg-dark.opacity-75.rounded
                                            h5.text-white Project Title 1
                                            p.text-white Short description or highlight of Project 1.
                                    // Example Project 2
                                    .carousel-item
                                        img.d-block.w-100(src='https://dummyimage.com/800x350/d6d8db/6c757d', alt='Project 2')
                                        .carousel-caption.d-none.d-md-block.bg-dark.opacity-75.rounded
                                            h5.text-white Project Title 2
                                            p.text-white Short description or highlight of Project 2.
                                    // Example Project 3
                                    .carousel-item
                                        img.d-block.w-100(src='https://dummyimage.com/800x350/adb5bd/6c757d', alt='Project 3')
                                        .carousel-caption.d-none.d-md-block.bg-dark.opacity-75.rounded
                                            h5.text-white Project Title 3
                                            p.text-white Short description or highlight of Project 3.
                                    // Example Project 4
                                    .carousel-item
                                        img.d-block.w-100(src='https://dummyimage.com/800x350/999/fff', alt='Project 4')
                                        .carousel-caption.d-none.d-md-block.bg-dark.opacity-75.rounded
                                            h5.text-white Project Title 4
                                            p.text-white Short description or highlight of Project 4.
                                    // Example Project 5
                                    .carousel-item
                                        img.d-block.w-100(src='https://dummyimage.com/800x350/777/fff', alt='Project 5')
                                        .carousel-caption.d-none.d-md-block.bg-dark.opacity-75.rounded
                                            h5.text-white Project Title 5
                                            p.text-white Short description or highlight of Project 5.
                                    // Add more items if needed...
                                // Controls
                                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-bs-slide='prev')
                                    span.carousel-control-prev-icon(aria-hidden='true')
                                    span.visually-hidden Previous
                                a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-bs-slide='next')
                                    span.carousel-control-next-icon(aria-hidden='true')
                                    span.visually-hidden Next


        // Footer 
        include includes/footer.pug

        include includes/scripts.pug
